<template>
  <view class="container">
    <view class="example">
      <uni-forms ref="form" :model="user" labelWidth="80px">
		<!--上传头像-->
		<uni-forms-item label="用户头像" name="headImg">
			<view class="item">
				<!-- <text>头像</text> -->
				<view class="flex vertical-center" @click="updateImg">
					<image v-if="user.headImg" class="active mar10 headPhoto" :src="user.headImg"
					></image>
					<image v-else class="active mar10 headPhoto" src="../../../static/images/profile.jpg"></image>
					<uni-icons custom-prefix="iconfont" type="icon-right" size="16" class="head-icon"></uni-icons>
				</view>
			</view>
		   <!-- <view>
				<van-field
				label="头像"
				readonly="true"
				@tap="openChooseImg"
				/>
				
				<image v-if="!imgUrl" :src="require('../../../static/images/profile.jpg')" class="headPhoto"></image>
			
				<image v-else :src="imgUrl" class="headPhoto"></image>
			</view> -->
		</uni-forms-item>
        <uni-forms-item label="用户昵称" name="nickName">
          <uni-easyinput v-model="user.nickName" placeholder="请输入昵称" />
        </uni-forms-item>
        <uni-forms-item label="手机号码" name="phonenumber">
          <uni-easyinput v-model="user.phonenumber" placeholder="请输入手机号码" />
        </uni-forms-item>
        <uni-forms-item label="邮箱" name="email">
          <uni-easyinput v-model="user.email" placeholder="请输入邮箱" />
        </uni-forms-item>
        <uni-forms-item label="性别" name="sex" required>
          <uni-data-checkbox v-model="user.sex" :localdata="sexs" />
        </uni-forms-item>
      </uni-forms>
      <button type="primary" @click="submit">提交</button>
    </view>
  </view>
</template>

<script>
  import { getUserProfile } from "@/api/system/user"
  import { updateUserProfile } from "@/api/system/user"

  export default {
    data() {
      return {
		imgUrl:"",
        user: {
			headImg:"",
			nickName: "",
			phonenumber: "",
			email: "",
			sex: ""
        },
        sexs: [{
          text: '男',
          value: "0"
        }, {
          text: '女',
          value: "1"
        }],
        rules: {
          nickName: {
            rules: [{
              required: true,
              errorMessage: '用户昵称不能为空'
            }]
          },
          phonenumber: {
            rules: [{
              required: true,
              errorMessage: '手机号码不能为空'
            }, {
              pattern: /^1[3|4|5|6|7|8|9][0-9]\d{8}$/,
              errorMessage: '请输入正确的手机号码'
            }]
          },
          email: {
            rules: [{
              required: true,
              errorMessage: '邮箱地址不能为空'
            }, {
              format: 'email',
              errorMessage: '请输入正确的邮箱地址'
            }]
          }
        }
      }
    },
    onLoad() {
      this.getUser()
    },
    onReady() {
      this.$refs.form.setRules(this.rules)
    },
    methods: {
		updateImg() {
					uni.chooseImage({
						sourceType: ['album'], //从相册选择
						success: chooseImageRes => {
							console.log('成功', chooseImageRes);
							this.$nextTick( ()=>{
								this.user.headImg = chooseImageRes.tempFilePaths[0];
							})
							console.log('this.user.headImg', this.user.headImg);
							const tempFilePaths = chooseImageRes.tempFilePaths;
							uni.uploadFile({
								url: 'http://192.168.31.00:7005/file/upload', //仅为示例，非真实的接口地址
								filePath: tempFilePaths[0],
								name: 'file',
								header: {
									accessToken: uni.getStorageSync('accessToken'),
									platform: 2,
									type: 1
								},
								formData: {
									category: 3
								},
								success: res => {
									// console.log('上传成功', JSON.parse(res.data));
									// uploadFile上传成功后，根据和后台的约定msgCode判断接口调用状态
									let data = JSON.parse(res.data);
									// 成功：获取到头像
									if (data.msgCode == 200) {
										this.user.headImg = JSON.parse(res.data).data;
										// 更新当前页面数据
										this.updateUserInfo();
									}
									// 失败报错
									if (data.msgCode == 500) {
										this.myToast(data.msgContent, 'none');
									}
									// 登陆过期
									if (data.msgCode == 311 || data.msgCode == 312) {
										myToast(
											data.msgContent,
											'none',
											() => {
												const res = uni.getStorageInfoSync();
												for (let s of res.keys) {
													// 保留账号密码
													if (s === 'pwd' || s === 'lang') {
														// console.log('保留账号密码', s)
													} else {
														uni.removeStorageSync(s);
													}
												}
												uni.reLaunch({
													url: '/pages/group/index'
												});
											},
											1000
										);
									}
								}
							});
						},
						fail: err => {
							this.myToast('图片上传失败', 'none');
						}
					});
				},
		
		 openChooseImg(){
						uni.chooseImage({
						    count: 1, //最多可选择的张数
						    sizeType: ['original','compressed'], //可以指定是原图还是压缩图，默认二者都有
						    sourceType: ['album','camera'], //从相册选择，和摄像头功能，默认二者都有
						    success: res=> {
								console.log(res,'头像res')     
								this.user.headImg=res.tempFilePaths[0]   //把选择的头像赋值给imgurl
								console.log(this.user.headImg,'this.headImg') 
						    }
						});
					},
      getUser() {
        getUserProfile().then(response => {
          this.user = response.data
        })
      },
      submit(ref) {
        this.$refs.form.validate().then(res => {
          updateUserProfile(this.user).then(response => {
            this.$modal.msgSuccess("修改成功")
          })
        })
      }
    }
  }
</script>

<style lang="scss">
  page {
    background-color: #ffffff;
  }

  .example {
    padding: 15px;
    background-color: #fff;
	.item{
		.flex {
			display: flex;
			justify-content: flex-end;
		}
		.vertical-center{
			.headPhoto{
				width: 80upx;
				height: 80upx;
				border-radius: 50upx;
			}
			.head-icon{
				color: #ddd !important;
				text-align: center;
				margin: auto 0 auto 14upx;;
			}
		}
		
	}
	
  }

  .segmented-control {
    margin-bottom: 15px;
  }

  .button-group {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
  }

  .form-item {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .button {
    display: flex;
    align-items: center;
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
  }
</style>
