<template>
    <view class="content">
        <view class="body">
            <view class="header-locat">
                <!-- 你要去哪里： -->
				<!-- <view>
					<button @click="toMap()" size="mini" type="default">{{title}}</button>
				</view> -->
				 <!-- 吸顶元素111 -->
				<view :class="{'fixed': isFixed, 'header-top':true} ">
					<uni-search-bar class="uni-mt-10" radius="100" placeholder="请输入..." clearButton="none" cancelButton="none" @confirm="search" />
					
					<!--定位-->		
					<uni-icons @click="toMap()" custom-prefix="custom-icon" type="location" size="30"></uni-icons>
				</view>
				
            </view>
            
			<!-- <input @input="changeCity" v-model="city" type="text" height="50" /> -->
			<!-- <ul v-show="isShowSearch">
				<li @click="getCityHandle(item.address)" v-for="item in suggestionData" :key="item.id">{{item.address}}</li>
			</ul> -->
			<!--轮播-->
			<Swiper></Swiper>
			<!--九宫格-->
			<Seaction></Seaction>
			<!--作品卡片-->
			<Seaction-Card></Seaction-Card>
		</view>
        
    </view>
 
</template>

<script>
	import Swiper from './components/swiper.vue';
	import Seaction from './components/seaction.vue'
	import SeactionCard from './components/sectionCard.vue'
    import {
        Debounce
    } from '../utils/debounce.js'
 
    export default {
        data() {
            return {
				searchValue: '123123',
				isFixed: false, // 是否固定在页面顶部
				scrollTop: 0, // 页面滚动距离
                title: '出发',
                key: 'VWCBZ-ZMZLC-RRL27-AUCO4-OTYJF-VFBQ7',
                city: '江苏省宿迁市沭阳县',
                locationConfig: null,
                noClick: true,
                suggestionData: null,
                isShowSearch:true
            }
        },
		onPageScroll(e) {
			console.log('e',e)
		      this.scrollTop = e.scrollTop;
			  console.log('scrollTop', this.scrollTop)
		      if (this.scrollTop > 100) {
		        this.isFixed = true;
		      } else {
		        this.isFixed = false;
		      }
		},
		components: {
			Swiper, Seaction, SeactionCard
		},
        onLoad() {},
        methods: {
			// 跳转地图页面
			currentMap(){
				this.$router.relauch('../pages/map/index.vue')
			},
			search(res) {
				uni.showToast({
					title: '搜索：' + res.value,
					icon: 'none'
				})
			},
			input(res) {
				console.log('----input:', res)
			},
			clear(res) {
				uni.showToast({
					title: 'clear事件，清除值为：' + res.value,
					icon: 'none'
				})
			},
			blur(res) {
				uni.showToast({
					title: 'blur事件，输入值为：' + res.value,
					icon: 'none'
				})
			},
			focus(e) {
				uni.showToast({
					title: 'focus事件，输出值为：' + e.value,
					icon: 'none'
				})
			},
			cancel(res) {
				uni.showToast({
					title: '点击取消，输入值为：' + res.value,
					icon: 'none'
				})
			},
            toMap() {
 
                this.getPosition((location) => {
                    uni.navigateTo({
                        url: `/pages/map/index?lat=${ location.lat}&lng=${ location.lng}&city=${this.city}`
                    })
                })
            },
            getPosition(callback) {
				let url = 'https://apis.map.qq.com/ws/geocoder/v1/?address=';
				this.$jsonp(url, {
					key: this.key,
					address: this.city,
					output: 'jsonp'
				}).then(data => {
					callback(data.result.location)
				})
                // this.$jsonp({
                //     "https://apis.map.qq.com/ws/geocoder/v1/?address?="+this.city+"&key=" +this.key,
                //     success: ({
                //         data
                //     }) => {
                //         callback(data.result.location)
                //     },
                // })
            },
            getCityHandle(val) {
                this.city = val
                this.isShowSearch = false
            },
            changeCity: Debounce(function(e) {
                this.isShowSearch = true
                console.log(432);
                this.city = e.target.value
				let url = 'https://apis.map.qq.com/ws/place/v1/suggestion/?keyword=';
				this.$jsonp(url, {
					key: this.key,
					keyword: this.city,
					output: 'jsonp'
				}).then(data => {
					console.log(423, data.data);
					this.suggestionData = data.data
				})
				
                // this.$jsonp({
                //     url: 'https://apis.map.qq.com/ws/place/v1/suggestion?key=' + this.key + '&keyword=' + this.city',
                //     success: ({
                //         data
                //     }) => {
                //         console.log(423, data.data);
                //         this.suggestionData = data.data
                //     },
                // })
 
            }, 1000)
        }
    }
</script>
 
<style lang="scss">
	.search-result {
		padding-top: 10px;
		padding-bottom: 20px;
		text-align: center;
	}
	.uni-searchbar{
		width: 80%;
		padding:0px;
	}
	.search-result-text {
		text-align: center;
		font-size: 14px;
		color:#666;
	}

	.example-body {
		/* #ifndef APP-NVUE */
		display: block;
		/* #endif */
		padding: 0px;
	}

	// .uni-mt-10 {
	// 	margin-top: 10px;
	// }
 //    ul {
 //        height: auto;
	// 	width: 90%;
 //        overflow: scroll;
 //    }
 
 //    ul li {
 //        margin: 2px;
 //        width: 100%;
 //        height: auto;
 //        border-radius: 10upx;
 //        background-color: #ccc;
 //        padding: 10upx;
 //        box-sizing: border-box;
 //    }
 
 //    .content {
 //        display: flex;
 //        margin-bottom: 20upx;
 //    }
 
 //    .logo {
 //        height: 200rpx;
 //        width: 200rpx;
 //        margin-top: 200rpx;
 //        margin-left: auto;
 //        margin-right: auto;
 //        margin-bottom: 50rpx;
 //    }
 
 //    .text-area {
 //        display: flex;
 //        justify-content: center;
 //        border: 1px solid #ccc;
 //        width: 30%;
 //            border-radius: 10upx;
 //    }
 
 //    .title {
 //        font-size: 36rpx;
 //        color: #8f8f94;
 //    }
	.content {
		width: 100%;
		margin-bottom: 20upx;
		.body {
		    width: 100%;
		    height: 100%;
		    padding: 30upx;
			.header-locat{
				width: 100%;
				height: 60upx;
				display: flex;
				justify-content: flex-end;
				margin-bottom: 20upx;
				.fixed {
				    position: fixed;
					padding: 0 30upx 10upx 30upx;
				    top: 20upx;
				    left: 0;
				    width: 100%;
				    z-index: 999;
				}
				.header-top{
					width: 100%;
					height: 60upx;
					display: flex;
					justify-content: space-between;
				}
			}
		}
	}
    
 
    // .body input {
    //         width: 90%;
    //     border: 1px solid #ccc;
    //     border-radius: 10upx;
    // }
</style>
