<template>
	<!--首页-->
	<view>
		<!--轮播-->
		
		<!----六宫格>
		<!--会员续费卡片-->
		<!--卡片与一行两列展示作品支持点击到小孩老师作品详情-->
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			}
		},
		methods: {
			
		}
	}
</script>

<style>

</style>
